<div class="flex h-screen bg-gray-50 dark:bg-gray-900">
  <!-- Main Content -->
  <div class="flex-1 overflow-y-auto p-6 sm:p-8">
    <!-- Header -->
    <div class="mb-8 flex items-center justify-between">
      <div>
        <h1 class="text-2xl font-bold text-gray-800 dark:text-white">My Notes</h1>
              
          <p class="text-gray-500 dark:text-gray-400">Your personal Notes</p>

      </div>
                  <div class="flex space-x-2">
  <%= link_to new_user_note_path(current_user), class: "p-2 rounded-lg bg-white dark:bg-gray-800 shadow-sm hover:shadow transition" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500 dark:text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
    </svg>
  <% end %>

  <button class="p-2 rounded-lg bg-white dark:bg-gray-800 shadow-sm hover:shadow transition">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500 dark:text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z" />
    </svg>
  </button>
</div>
</div>


<div id="dictionary-results" class="mt-2 p-3 rounded-lg bg-gray-50 dark:bg-gray-700 text-sm">
  <div id="notes" class="min-w-full divide-y divide-gray-200 space-y-5">

         
    <% if @notes.any? %>
      <% @notes.each do |note| %>
       
        <h2 class="text-lg font-semibold text-gray-800 dark:text-white">TITLE: <%= note.title %></h2>
         <div class="flex justify-between items-center">
          <p class="text-gray-700 dark:text-gray-300 flex-grow">
        BODY: <%= note.body%>
      
        <div class="flex justify-end space-x-4">

         <%= link_to edit_user_note_path(current_user, note), class: "text-yellow-500 hover:text-yellow-700 text-2xl ml-4" do %>
  <i class="fas fa-pen text-2xl" style="color: #ef4444;"></i>
<% end %>

  <%= link_to user_note_path(current_user, note), class: "text-red-500 hover:text-red-700" do %>
    <i class="fas fa-eye text-2xl" style="color: #ef4444;"></i>
  <% end %>

  <%= button_to user_note_path(current_user, note), method: :delete, data: { confirm: "Are you sure?" }, class: "text-red-500 hover:text-red-700" do %>
    <i class="fas fa-trash text-2xl" style="color: #ef4444;"></i>
  <% end %>
</div
 
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No notes found.</p>
    <% end %>
  </div>
</div>
